[submodule "vendor/xionic/argh"]
	path = vendor/xionic/argh
	url = git@github.com:xionic/Argh.git
[submodule "vendor/xionic/amphp-mqtt"]
	path = vendor/xionic/amphp-mqtt
	url = https://github.com/xionic/amphp-mqtt.git
