.pion-modulesetpointinput input {
    color: white;
}

.pion-modulesetpointinput {
    width: 35px;
}

.pion-modulesetpointinput input::-webkit-outer-spin-button, .pion-modulesetpointinput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pion-modulesetpointinput input[type=number] {
    -moz-appearance: textfield;
}

.pion-modulesetpointbutton {
    width:35px;
    min-width:auto !important;
    font-size:35px !important;
    padding:0 !important;
    line-height:1 !important;
}