body {
	background-color: #444455;
	color: #ddddee;
}

ul{
	float:left;
	width:100%;
	padding: 0px;
	margin: 0px;
}
li {
	list-style:none;
	float:left;
	width:98%;
}

li.roomlist {
	margin: 5px;
	border: solid 10px #888888;
}
h3.roomname {
	border-bottom: solid 5px #888888;
	margin: 5px;
}

span.itemname{
	float:left;
	margin: 5px;
}
spane.itemvalue{
	float:right;
	margin: 5px;
}